GROQ_API_KEY=your_groq_api_key_here
OTEL_EXPORTER_OTLP_ENDPOINT="http://127.0.0.1:4317"
OTEL_EXPORTER_OTLP_PROTOCOL="grpc"
USE_OTEL_LITELLM_REQUEST_SPAN="true"
CREWAI_TELEMETRY_OPT_OUT="true"
LANGFUSE_SECRET_KEY="your_langfuse_secret_key_here"
LANGFUSE_PUBLIC_KEY="your_langfuse_public_key_here"
LANGFUSE_HOST="https://us.cloud.langfuse.com"
